config.stopBubbling = true
lombok.anyconstructor.addconstructorproperties = false
lombok.addLombokGeneratedAnnotation = true
lombok.addSuppressWarnings = false

#Я так понимаю, что конфигурационный файл здесь не нужен и служит для более сложных настроек lombok, которыми мы скорее
#всего в процессе учёбы больше и не будем пользоваться?